/*font family

font-family: 'Poppins', sans-serif;
font-family: 'Lato', sans-serif;

font family*/

/*colors start here*/

:root
{
    --pop:'Poppins', sans-serif;
    --lat:'Lato', sans-serif;
    --button-color: #d32c30;
    --p:#999999;
    --box-shadow: ;
}

/*colors end here*/

/*bootstrap css*/

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{ }

body{padding: 0 !important; margin: 0 !important; overflow-x: hidden;}.form-group,label{/*margin: 0!important; padding: 0!important;*/}

/*bootstrap css*/

/*============================================================index page start here=====================================*/

/*header start here*/

header .header-top{background: #ac1f25; padding: 12px 0;}
.header-top a, .login a{font-family: 'Lato', sans-serif; font-weight: 400; font-size: 14px; color: white; -webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out ; transition: all 0.2s ease-in-out;}
.header-top .login a{}
.header-top a:hover{text-decoration: none; color: black;}
.header-bottom {padding: 20px 0 0 0;background: url('images/header-bg.png') no-repeat;-webkit-background-size: cover;background-size:cover;min-height: 943px;}


/*
nav {padding: 32px 0 0 0 !important;}
nav ul{list-style:  none !important;float: right !important;}
nav ul li {float:  left !important;}
nav ul li+li {padding: 0 0 0 15px; !important}
nav ul li a{
    font-family: 'Poppins', sans-serif; font-size: 14px !important;
    font-weight: 500 !important;
    color:#1b1b1b  !important;
    text-transform: uppercase !important;
    -webkit-transition:all 0.2s ease-in-out !important; 
    -o-transition:all 0.2s ease-in-out !important;
    transition:all 0.2s ease-in-out !important;
}
nav ul li a:hover{ text-decoration: none; color: #c5c5c5 !important;}
*/

.header-content-main {padding: 140px 0 0 0;}
.header-content p {padding: 0 0 0 0; font-size: 55px; font-family: 'Poppins', sans-serif; font-weight: 600;color: #1b1b1b;}

.vertical{ padding: 0 0 0 163px; position: absolute;}
.vertical h6{transform: rotate(-90deg);margin: 100px 0 0 86px !important;color: #076fb6;font-size: 16px;font-family: 'Poppins', sans-serif;font-weight: 500;}
.vertical img{position: relative; margin: 43px 0 0 162px;}

.header-content a{padding: 17px 27px;background:var(--button-color);border-radius: 50px;font-size: 16px;color: white;font-family: 'Poppins', sans-serif;font-weight: 500;text-transform: capitalize;display: inline-block;-webkit-transition:all 0.2s ease-in-out-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.header-content i.fa.fa-angle-right {padding: 0 0 0 26px;font-size: 16px;-webkit-transition:all 0.2s ease-in-out-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}

.header-content a:hover{text-decoration: none; background: #b02326; color: white;}

 
.header-box-inner-main {background: url('images/header-box-line.png') no-repeat bottom center white;border-radius: 20px;-webkit-box-shadow: 0px 0px 63px 8px rgba(238,238,238,1);-moz-box-shadow: 0px 0px 63px 8px rgba(238,238,238,1);box-shadow: 0px 0px 63px 8px rgba(238,238,238,1);min-height: 489px;position: relative;}
.header-box-inner-content {padding: 0 30px;}
.header-box-inner-content img.box{margin: 40px 0 0 0;}
.header-box-inner-content h2{font-size: 22px;color: #d32c30; font-weight: 600;font-family: 'Poppins', sans-serif;padding: 25px 0 0 0;position: relative;}
.header-box-inner-content h2::after{content: "";width: 53px;height: 3px;left: 0;background: #1d94d2;right: 0;position: absolute;bottom: -20px;}
.header-box-inner-content p{font-family: 'Poppins', sans-serif;font-weight: 500;font-size: 16px;color: var(--p);padding-top: 39px;}

.header-box-inner-content a{padding: 17px 0 17px 38px;background:var(--button-color);border-radius: 50px;font-size: 16px;color: white;font-family: 'Poppins', sans-serif;font-weight: 500;text-transform: capitalize;-webkit-transition:all 0.2s ease-in-out-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;display: inline-block;margin:20px 0 0 0;position: absolute;bottom: 19px;}

.header-box-inner-content i.fa.fa-angle-right {padding: 0 27px 0 6px;margin: 0 0 0 0;font-size: 16px;-webkit-transition:all 0.2s ease-in-out-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
.header-box-inner-content a:hover{text-decoration: none; background: #b02326; color: white;}

.header-box-inner-content img.line{margin: 16px 0 0 20px; }
section.boxes {margin: -293px 0 130px 0;}
/*header end here*/
 

/*welcome page start here*/
section.welcome{background: #f2f9f9;}
section.welcome col-md-5, .col-md-7{ margin: 0 !important;padding: 0 !important;}

section.welcome .welcome-left-main img.welcome-bg{position: relative; width: 100%;}

.welcome-left-main img.lap.img-fluid {position: absolute;top: 227px;/* right: 30px; */margin: 0 0 0 353px;z-index: 9999;}

.welcome-right-main {/*position: relative;*/ background: url('images/welcome-line.png') no-repeat; -webkit-background-size: cover;
background-size: cover;    background-position: right bottom;}

.welcom-right {margin: 0 0 0 125px;}
/*.welcome-right-main img.lines {position: absolute;left: -339px;}*/

.welcome-right-main h2 {font-family: 'Poppins', sans-serif;font-size: 35px;position:  relative;font-weight: 600;color: #333d47;padding: 105px 0  0 0 !important;margin: 0 !important;text-transform: uppercase;}

.welcome-right-main h2::after{content: "";width: 53px;height: 3px;left: 0;background: #1d94d2;right: 0;position: absolute;bottom: -31px;}

.welcome-right-main h6 {font-family: 'Poppins', sans-serif;font-size: 18px;font-weight: 600;color: #333d47;padding: 64px 0 0 0 !important;margin: 0 !important;line-height: 28px;width: 71%;text-transform:  uppercase;}

.welcome-right-main p {padding: 43px 0 0 0;margin: 0;font-family: 'Poppins', sans-serif;font-size: 18px;font-weight: 400;color: var(--p);line-height:  26px;width: 87%;}

.welcome-right-main a{background: var(--button-color);padding: 18px 0 17px 38px;display: inline-block;border-radius: 50px;color: white;text-transform: capitalize;margin: 32px 0 45px 0;font-size: 16px;font-weight: 500;font-family: 'Poppins', sans-serif;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}

.welcome-right-main a:hover{text-decoration: none;background: #b02326; color: white;}
 
.welcome-right-main i.fa.fa-angle-right{margin: 0 38px 0 10PX;font-size: 15px;}

/*welcome page end here*/


/*about us start here*/

.about-us{padding: 130px 0 0 0 ;}
.about-us .bottom-content p{color: #333d47;position: relative; font-size: 25px;font-family: 'Poppins', sans-serif; text-transform: uppercase; font-weight: 400;text-align: center;}
 
.about-us .bottom-content p::after{content: "";width: 53px;height: 3px;left: 0;background: #1d94d2;right: 0;position: absolute;bottom: -31px; margin: 0 auto;}

.about-us-left-main {}
.about-us-left {}

.about-us-left h2{font-family: 'Poppins', sans-serif;text-transform: uppercase;font-size: 35px;position:  relative;font-weight: 00;color: #333d47;padding:0 0  0 0;margin: 0;}
.about-us-left h2::after{content: "";width: 53px;height: 3px;left: 0;background: #1d94d2;right: 0;position: absolute;bottom: -30px;text-transform: uppercase;}
.about-us-left p{padding: 51px 0 0 0;margin: 0;font-family: 'Poppins', sans-serif;font-size: 18px;font-weight: 400;color: var(--p);line-height:  26px;}
.about-us-left p.p{padding: 35px 0 0 0;}

a#learn-more{background: var(--button-color);padding: 18px 0 17px 38px;display: inline-block;border-radius: 50px;color: white;text-transform: capitalize;margin: 32px 0 45px 0;font-size: 16px;font-weight: 500;font-family: 'Poppins', sans-serif;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}

a#learn-more:hover{text-decoration: none;background: #b02326; color: white;}
i.fa.fa-angle-right#fa-right{margin: 0 38px 0 10PX;font-size: 15px;}

.about-us-right-main {}

.about-us-right {}
.about-us-right img {margin: 25px 0 0 0;}

/*about us end here*/

/*services start here*/

section.services{margin: 88px 0 136px 0;background: url(images/services-bg.png) no-repeat;background-position: right top;}

.services-left-main { padding: 147px 0 0 0;}

.services-left{}

.services-left h2{font-family: 'Poppins', sans-serif;position: relative; font-size: 35px; color: #333d47; font-weight: 500; text-transform: uppercase; }

.services-left h2::after{content: "";width: 53px;height: 3px;left: 0;background: var(--button-color);right: 0;position: absolute;bottom: -30px;}

.services-left ul {list-style: none;float: left;margin: 48px 0 0 0;padding: 0;}
.services-left ul {list-style: none;float: left;margin: 48px 0 0 0;padding: 0;}

.services-left ul li { font-weight: 400; font-size: 18px;color: #999999;}

.services-left ul li+li {padding: 10px 0 0 0;margin: 0;}

.services-left i.fa.fa-arrow-right {margin: 0 23px 0 0;color: var(--button-color);}

.services-right img{}


.services-right-main{padding:  94px 0 0 0;float: right;margin: 0 -225px 0 0;} 
.testimonials-main{padding: 0 0 136px 0;}
.testimonials-main .testimonials-left img{position: relative;width: 100%;}
.testimonials-main .testimonials-left h2{font-size: 45px;font-weight: 600;position:  absolute;bottom: 65px;font-family: 'Poppins', sans-serif;color:  white;left: 93px;}
.services .testimonials-right-main{padding-top: 57px;margin: 0 0 0 0;} 
.services .testimonials-right{background: #1d94d2;border-radius:  20px;padding: 90px 42px 126px 52px;margin: 0 -99px 0 40px;} 
.services .testimonials-inner-right {}

.testimonials-inner-right p{font-family: 'Poppins', sans-serif; font-weight: 400;font-size: 16px;color:white;}
.testimonials-inner-right h5{font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 18px;color:white;}
.testimonials-inner-right h6{font-family: 'Poppins', sans-serif; font-weight: 400;color: white;font-size: 14px;}




/*services end here*/

/*footer start here*/

.footer-top{background: #131414;padding: 91px 0 115px 0 ;}
.footer-top h2{font-weight: 600; color: white;font-family: 'Poppins', sans-serif; padding-top: 40px; font-size: 20px;}
.footer-top ul{list-style: none;font-size:20px;padding: 0;}
.footer-top ul li{}
.footer-top ul li a{font-family: 'Poppins', sans-serif; font-weight: 400px; color: white; font-size: 16px;-webkit-transition: all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out;
transition:all 0.2s ease-in-out;}
.footer-top ul li a:hover{text-decoration: none; color:#bebebe ;}
.footer-top ul li a i{margin: 0 30px 0 0;}

.footer-bottom{background: #111111;padding: 40px 0;}
.footer-bottom h5{ font-size: 16px; font-family: 'Poppins', sans-serif; font-weight: 400px;}
.Privacy{padding: 0 0 0 99px;}
.footer-top img  {}
.footer-top p{font-size: 16.3px;font-family: 'Poppins', sans-serif; font-weight: 400; }
.footer-top a{font-family: 'Poppins', sans-serif; font-weight: 400px; }
.footer-top a.mail{ color: #1d94d2; }
.footer-top a:hover{}

.social-links{ }
.social-links ul{list-style: none;margin: 42px 0 0 0;padding:0;}

.social-links ul li{margin:0;float: left;border-radius:  50px;border-radius: 50px;background:  white;margin: 0 20px 0 0; -webkit-transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out;
transition:all 0.2s ease-in-out;}

.social-links ul li a {color: white;margin:0;}

.social-links ul li a i{margin: 0;padding: 15px;color: #1d94d2;}

.social-links ul li a i:hover{margin: 0;padding: 15px;color: white;}

.social-links ul li:hover {background: #1d94d2; }

.social-links i.fab.fa-facebook-f {padding: 15px 20px;}

.icon i.fab.fa-facebook-f{color: white;}
/*footer end here*/





/*============================================================index page end here=====================================================================*/


/*============================================================silver page start here==================================================================*/

/*header start here*/

.silver-header-bottom {padding: 20px 0 0 0;background: url('images/silver-bg.png') no-repeat;-webkit-background-size: cover;background-size:cover;min-height: 477px; background-position: top center;}
.silver-header-bottom .header-content h2{padding: 28px 0 0 0 !important;font-size: 55px;font-family: 'Poppins', sans-serif;font-weight: 600;color: var(--button-color);text-transform: uppercase;}
 

/*header end here*/

/*plan start here*/

section.plan-main h1,h2,h3,h4,h5,h6{padding: 0!important; margin: 0!important;}

section.plan-main {padding: 60px 0;}

section.plan-main h2{font-size: 35px; color: var(--button-color); font-family: var(--pop); font-weight: 600;text-transform: uppercase;}

section.plan-main form{margin-bottom: 64px ;}

section.plan-main form h6::after{content: "";height: 3px;width: 53px;right: 0;background: #1d94d2;position: absolute;bottom: 0;left: 0;margin: 0;}

section.plan-main form h5::after{content: ""; height: 3px; width: 53px; right: 0; background: #1d94d2; position: absolute;bottom: 0px; left: 0; margin: 0 0 0 0;}


section.plan-main form h6{font-family:var(--pop);font-weight: 400;color: #1d87c8;font-size: 20px;position: relative;padding:64px 0 20px 0 !important;}

section.plan-main form h5{font-family:var(--pop);font-weight: 400;color: var(--button-color);font-size: 20px;position: relative;padding:64px 0 20px 0 !important;}

section.plan-main form h4{font-family:var(--pop);color: var(--button-color);font-weight: 400;font-size: 20px;position: relative;padding: 54px 0 80px 0 !important;}

section.plan-main form h4::after{content: "";height: 3px;width: 53px;right: 0;background: #1d94d2;position: absolute;margin: 0 auto;left: 0;bottom: 60px; }

section.plan-main form h6 span{font-family:var(--pop) ;font-weight: 600;color: var(--button-color);}

section.plan-main form h5 span,h4 span{color: #1d87c8;}

section.plan-main form i.fa.fa-envelope,.fa-user,.fa-lock{position:  absolute;margin: 97px 0 0 26px;left: 0;color: #bcbcbc; }

section.plan-main form input[type="text"],input[type="email"],input[type="password"]{height: 62px;font-family: var(--pop); font-size: 16px; color: #bcbcbc;padding: 4px 0 0 42px;}
section.plan-main form input[type="number"]{height: 62px;font-family: var(--pop); font-size: 16px; color: #bcbcbc;}

section.plan-main form .address{padding: 0 0 0 17px !important; height: 62px;font-family: var(--pop); font-size: 16px; color: #bcbcbc;}

section.plan-main form input[type="text"]::placeholder{color: #bcbcbc;}
section.plan-main form input[type="email"]::placeholder{color: #bcbcbc;}
section.plan-main form input[type="password"]::placeholder{color: #bcbcbc;}
section.plan-main form input[type="number"]::placeholder{color: #bcbcbc;}
section.plan-main form input[type="text"] {color: #bcbcbc;font-family: var(--pop); font-size: 16px;}
section.plan-main form input[type="email"] {color: #bcbcbc;font-family: var(--pop); font-size: 16px;}
section.plan-main form input[type="password"] {color: #bcbcbc;font-family: var(--pop); font-size: 16px;}
section.plan-main form input[type="number"] {color: #bcbcbc;font-family: var(--pop); font-size: 16px;}

/*section.plan-main form input[type="text"],form input[type="email"]::placeholder{color: #bcbcbc;}*/
 
section.plan-main form select{ height: 62px !important;}

section.plan-main form label{color: #666666;font-family: var(--pop);font-size: 16px;font-weight: 400;margin:  0;padding:  30px 0 18px 0;}

section.plan-main form p{font-size: 16px;font-family: var(--pop);font-weight: 400;color: #666666;padding-top: 30px;margin: 0;}
section.plan-main form .radio input[type="radio"]{width: 15px;height: 15px;}

section.plan-main form .radio label{color: #666666;font-family: var(--pop);font-size: 16px;font-weight: 400;margin: 0;padding: 30px 15px 0 15px;}

section.plan-main form button{font-family: var(--pop); font-weight: 500;margin: 48px 0 0 5px;background: var( --button-color);color:  white;padding: 17px 50px;border-radius: 50px; -webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;border: 0px; font-size: 16px;}

section.plan-main form button:hover{ text-decoration: none;background: #b02326; cursor: pointer;}
section.plan-main form button i.fa.fa-angle-right {margin: 0 0 0 5px;}
.form-group{margin-bottom: 0 !important;}





/*plan end here*/

/*============================================================silver page end here===================================================================*/




/*============================================================membership page start here================================================================*/

/*header start here*/

.member-header-bottom {padding: 20px 0 0 0;background: url('images/silver-bg.png') no-repeat;-webkit-background-size: cover;background-size:cover;min-height: 477px; background-position: top center;}

.member-header-bottom .header-content h2{padding: 28px 0 0 0 !important;font-size: 55px;font-family: 'Poppins', sans-serif;font-weight: 600;color: black;text-transform: uppercase;}
 
/*header end here*/



/*membership program start here*/
.membership {padding: 60px 0 65px 0;}

.membership .content h2{color: #ac1f25;font-family: var(--pop); font-weight: 500; font-size: 35px;text-transform: uppercase;}

.membership p{font-family: var(--pop);position: relative; font-weight: 500; font-size: 25px; color: #1d87c8;text-transform: uppercase;padding:20px 0 34px 0; margin: 0;}

.membership .content p::after {content: "";height: 3px;width: 53px;right: 0;background: #2484c6;position: absolute;margin: 0 auto;left: 0;bottom: 0;}

.membership .offers-main{margin: 30px 0 0 0;}
 

.membership .offers-main .offers{background: #f4f2f3;margin: 20px 0 0 0; }

.membership .offers-main .offers img.image{position: relative;}

.membership .offers-main .offers h2 {position: absolute;top: 115px;z-index:  999;left: 127px;color: white;font-size: 52px;font-family: var(--pop);}
.membership .offers-main .offers .Platinum{position: absolute;top: 115px;z-index:  999;left: 92px;color: white;font-size: 52px;font-family: var(--pop);}

.membership .offers-main .offers .inner-content { }

.membership .offers-main .offers .inner-content p{margin:0; padding:0;color: #677077; font-family: var(--pop); font-weight: 400;line-height: 37px; font-size: 18px;text-transform: capitalize;}
.membership .offers-main .offers .inner-content p::after{display: none;}

.membership .offers-main .offers .inner-content h3{color: #3991cc;font-family: var(--pop);font-size: 18px;padding: 40px 0 30px 0 !important;}

.membership .offers-main .offers .inner-content img.img-fluid.more {position: absolute;right: 69px;bottom: 160px;}

.membership .offers-main .offers .inner-content select.form-control { margin: 0 auto;width: 80%; height: 48px;background: #f4f2f3;}

.membership .offers-main .offers .inner-content a.choose-plan{background:#3991cc;color: white;padding:22px 72px;border-radius: 50px;display:inline-block;margin: 30px 0 62px 0;font-family: var(--pop);text-transform: uppercase;-webkit-transition: all 0.2s ease-in-out
-o-transition:all 0.2s ease-in-out;
transition:all 0.2s ease-in-out;}

.membership .offers-main .offers .inner-content a:hover{text-decoration: none;background: #2e719e;}

.membership .offers-main .offers .inner-content a.gold{text-decoration: none;background: #ac1f25;}

.membership .offers-main .offers .inner-content a.gold:hover{text-decoration: none;background: #961b20;}


/*membership program end here*/


/*.mem-ber start here*/
.mem-ber p.p1{padding: 54px 0 0 0;} 



/*.mem-ber end here*/



/*============================================================membership page end here===================================================================*/



/*resposive start here*/

@media (max-width:1199px)
{
    .header-content p{font-size: 35px;}
    .vertical{margin: 0 0 0 -103px; padding: 0;}
    .header-box-inner-content a {margin:20px 0 0 92px;}
    .welcome-left-main img.lap.img-fluid{  top: 227px; right: 0; margin: 0 0 0 353px; z-index: 9999; margin: 0 auto; left: 0; position: absolute;}
    section.welcome .welcome-left-main img.welcome-bg{display: none;}
    .services-right-main{margin: 0;}
    .membership p{font-size: 20px;}
    .membership .content h2{font-size: 30px;}
    .membership p{padding: 20px 0 20px 0;}
    .membership .offers-main .offers h2{left:84px;}
    .membership .offers-main .offers .Platinum{left: 45px;}
    .membership .offers-main .offers .inner-content p{font-size: 15px;}
    .membership .offers-main .offers .inner-content h3{padding: 20px 0 !important;}
    .mem-ber {padding: 0 0 50px 0;}
}

@media (max-width:1050px)
{
    .vertical{display: none;}
    .services .testimonials-right{    margin: 0 -37px 0 40px;}
    .services .testimonials-right-main{padding: 0;}
    .welcom-right{margin: 0 0 0 25px;}
    .member-header-bottom .header-content h2{padding: 0 !important;}
    .header-content-main.member{padding: 110px 0 0 0;}
}
@media (min-width: 768px) and (max-width: 999px) 
{	
    .welcom-right{margin: 0;}   
    .about-us .bottom-content p{font-size: 20px;}
    .services .testimonials-right{}
    .services-left h2{color: gray;}
    .header-box-inner-content a{ margin: 0 0 0 43px;}
    .testimonials-left-main {display: none;}
    .Privacy{padding: 0;}
    .contact-img{display: none;}
    .social-links {margin: 0 0 0 0; width: 218px;}
    section.plan-main form h5{font-size: 18px;}
    section.plan-main form h6{font-size: 18px;}
    section.plan-main form h4{padding: 31px 0 30px 0 !important;}
    section.plan-main form h4::after{bottom: 0;}
    .membership .offers-main .offers h2{left: 114px;}
    .membership .offers-main .offers .Platinum{left: 64px;}
}
@media (max-width: 767px)
{
    .header-box-inner-content a{margin: 0;}
    .welcome-left-main img.lap.img-fluid{display: none;}
    .about-us .bottom-content p{font-size: 18px; padding-top: 20px;}
    .services-left a.services-left#learn-more{margin: 400px 0 0 -233px;}
    .testimonials-main{padding: 0;}
    .services-right img{display: none;}
    .testimonials-left{display: none;}
    .services .testimonials-right{margin: 0 0 102px 0;}
    .Privacy{padding: 0;}
    .footer-top img{display: none;}
    .services-left h2{color: white;}
    section.plan-main form h5{padding: 40px 0 20px 0 !important;}
    section.plan-main form h4{padding: 54px 0 20px 0 !important;}
    section.plan-main form h4::after{bottom: 0;}
    .welcom-right{margin: 0 0 0 110px;}
    .footer-top h2{padding: 20px 0 0 0 !important;}
 .membership .offers-main .offers h2 {left: 205px;}
    .membership .offers-main .offers .inner-content p{font-size: 20px;}
    .membership .offers-main .offers .inner-content img.img-fluid.more{right: 110px;}
    .membership .offers-main .offers .Platinum{left: 155px;}
    
     
}
@media (max-width: 480px) 
{
    .welcom-right {margin: 0 0 0 58px;}
    .header-box-inner-content a{margin: 0 0 0 90px;}
    .welcome-right-main p{padding-top: 16px;}
    .welcome-right-main h2{padding-top: 50px;}
    section.plan-main h2{font-size: 25px;}
    section.plan-main form h4::after{bottom: 0;}
    section.plan-main form h4{padding: 54px 0 20px 0 !important;}
    section.plan-main form .radio label{padding: 30px 15px 0 8px;}
    .footer-top{padding: 91px 0 40px 0;}
    .membership .offers-main .offers .Platinum {left: 120px;}
    .membership .offers-main .offers h2 {left: 164px;}
    .membership .offers-main .offers .inner-content img.img-fluid.more{right: 78px;}
    .member-header-bottom .header-content h2{font-size: 40px;}
}


/*resposive end here*/
 



